#contact .p-mv {
  background-image: url("/assets/image/common/gtouzi/event1.JPG");
}

#contact .form__title {
  text-align: center;
}

#contact .form .contents {
  max-width: 850px;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  #contact .form .contents {
    padding: 20px;
  }
}

#contact .form .contents .item {
  margin-bottom: 40px;
}

#contact .form .contents .item label {
  display: block;
  margin-bottom: 10px;
}

#contact .form .contents .item input {
  padding: 8px;
  border: 2px solid #FFDAD8;
  border-radius: 10px;
  width: 50%;
}

#contact .form .contents .item input[type=email] {
  width: 100%;
}

#contact .form .contents .item input:focus {
  outline: 2px solid #DFFF8F;
  outline-offset: -2px;
}

@media only screen and (max-width: 768px) {
  #contact .form .contents .item input {
    width: 100%;
  }
}

#contact .form .contents .item textarea {
  width: 100%;
  min-height: 300px;
  padding: 8px;
  border: 2px solid #FFDAD8;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  #contact .form .contents .item textarea {
    min-height: 200px;
  }
}

#contact .form .contents .item textarea:focus-visible {
  outline: 2px solid #DFFF8F;
  outline-offset: -2px;
}

#contact .form .contents .item__btn {
  text-align: center;
}
