// 設定
@import "./config";
@import "./function";
@import "./mixin";



#news {
  .news {
      // background-color: #FFF7E1;
      padding-bottom: 40px;
      position: relative;
      @include xs{
        background-image: url("/assets/image/news/newsBgSp@2x.png");
        background-size: 100% auto;
      }
      &__title {
        text-align: center;
        h1{
          @include xs{
            margin-left: 0;
          }
        }
      }
  
      .newsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
        min-width: 1200px;
        @include xs{
          min-width: 0;
        }
        &__each {
          padding: 20px;
          min-width: 390px;
          width: 390px;
          margin-bottom: 40px;
          background-color: #fff;
          border-radius: 10px;
          box-sizing: border-box;
  
          /* パディングやボーダーを幅に含める */
          @include xs {
            width: 100%;
            min-width: 0;
          }
  
          &__media {
            margin-bottom: 20px;
            border: 2px solid $main-green;
            width: 100%;
            aspect-ratio: 16 / 9;
            border-radius: 10px;
  
            >img {
              border-radius: 10px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
  
          &__titles {
            margin-bottom: 20px;
            display: flex;
  
            &__date {
              margin-right: 10px;
            }
  
            h2 {
              text-decoration: underline 2px $main-yellow;
            }
          }
  
          &__text {
            display: flex;
            justify-content: space-between;
  
            p {
              margin-right: 20px;
              width: calc(100% - 65px);
              height: 50px;
              text-overflow: ellipsis;
              overflow: hidden;
            }
  
            &__btn {
              width: 45px;
              height: 45px;
            }
          }
        }
      }
  
      .pagenation{
        width: 800px;
        border-top: 2px #FFDAD8 solid;
        border-bottom: 2px #FFDAD8 solid;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
        @include xs{
          width: 100%;
        }
        >a{
          margin-right: 5px;
          &.current{
            text-decoration: underline;
            pointer-events: none;
          }
        }
      }

      .mark{
        position: absolute;
        @include xs{
          display: none;
        }
        &--1{
          top: 0;
          right: 8%;
        }
        &--2 {
          left: 8%;
          bottom: 0;
        }
      }
    }
}