// 設定
@import "./config";
@import "./function";
@import "./mixin";

.newsMv {
  background-image: url("../images/news/mv.png");
}

#news {
  .news {
    margin-bottom: 80px;
    .titleWrapper{
      text-align: center;
      @include xs{
        text-align: left;
      }
    }
    &__title{

    }
    &__contents {
   

      @include xs {
        display: block;
      }
      .nav{
        width: 100%;
        max-width: 1000px;
        padding: 20px 0;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $main-color;
        border-bottom: 1px solid $main-color;
        margin-bottom: 20px;
        &__list{
          display: flex;
          justify-content: center;
          @include xs{
            display: block;
          }
          &__item{
            margin-right: 15px;
            align-items: center;
            @include xs{
              margin-right: 0;
              margin-bottom: 15px;
              text-align: center;
              padding: 3px 20px;
            }
            &:last-of-type{
              @include xs{
              margin-bottom: 0;
              }
            }
            >a{
              font-size: 12px;
              padding: 3px 20px;
              background-color: $main-color;
              color: #fff;
              transition: all 0.3s;
              &:hover{
                opacity: 0.7;
              }
            }
          }
        }
      }
      .newsList{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        gap: 50px;
        margin-bottom: 40px;
        max-width: 970px;
        &__item{
          padding-bottom: 25px;
          max-width: 460px;
          width: 100%;
          border-bottom: 1px solid $main-color;
          &__media{
            aspect-ratio: 3 / 2;
            width: 100%;
            max-width: 460px;
            overflow: hidden;
            margin-bottom: 25px;
            >img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          &__text{
            &__info{
              display: flex;
              align-items: center;
              margin-bottom: 15px;
              &__date{
                font-size: 12px;
                margin-right: 10px;
              }
              &__tag{
                font-size: 12px;
                padding: 3px 10px;
                background-color: $main-color;
                color: #fff;
              }
            }
          }
        }
      }
      .pagenation {
        width: 100%;
        max-width: 1000px;
        padding: 20px 0;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $main-color;
        border-bottom: 1px solid $main-color;
        margin-bottom: 20px;
          display: flex;
          justify-content: center;
          &__item {
            margin-right: 15px;
            align-items: center;
            @include xs {
              margin-right: 0;
              margin-bottom: 15px;
              text-align: center;
              padding: 3px 20px;
            }

            &:last-of-type {
              @include xs {
                margin-bottom: 0;
              }
            }
            &.current{
              pointer-events: none;
              opacity: 0.5;
            }
            >a {
              font-size: 12px;

              transition: all 0.3s;

              &:hover {
                opacity: 0.7;
              }
            }
          }
        
      }
    }
  }
}