.l-footer {
background-color: #FFF18D;
padding-top: 60px;
padding-bottom: 60px;
  @include xs{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    position: relative;
    @include xs{
      // display: block;
      margin-bottom: 20px;
    }
    .bird{
      position: absolute;
      @include xs{
        width: 55px;
      }
      &--green{
        bottom: 20px;
        right: 220px;
        @include xs{
          bottom: -25px;
          right: auto;
          left: 20px;
        }
      }
      &--pink{
        bottom: -20px;
        right: 400px;
        @include xs {
            bottom: -15px;
            right: auto;
            left: 90px;
          }
      }
      &--yellow{
        bottom: 0px;
        right: 20px;
        @include xs {
            bottom: -20px;
            right: auto;
            left: 165px;
          }
      }
    }
  }
  .footerInfo{
    margin-right: 40px;
    @include xs{
      margin-bottom: 20px;
      width: 70%;
    }
    >a{
      font-size: 24px;
      display: block;
      margin-bottom: 30px;
      @include xs{
        margin-bottom: 10px;
      }
    }
    .mail{
      margin-bottom: 10px;
    }
    .copyPc {
      font-size: 12px;
      text-align: center;
      @include xs{
        display: none;
      }
    }
  }

  .menu{
    justify-content: space-between;
    display: flex;
    width: 70%;
    position: relative;
    z-index: 1;
    @include xs{
      
      width: 30%;
      display: block;
    }
    ul{
      li{
        margin-bottom: 15px;
        a{
        @include xs {
            display: none;
          }
        }
        >.main{
          font-size: 21px;
          @include xs{
            display: block;
            font-size: 12px;
          }
        }
      }
    }
  }

  .copySp {
    font-size: 12px;
    text-align: center;
    display: none;
    @include xs {
      display: block;
    }
  }
}
