/* モーダルのスタイル */
.p-imgModal {
    display: none; /* デフォルトでは非表示 */
    position: fixed; /* 画面上に固定 */
    z-index: 100; /* コンテンツより前面に */
    // padding-top: 100px; /* トップに少し余白 */
    left: 0;
    top: 120px;
    width: 100%; /* フル幅 */
    height: calc(100% - 120px); /* フル高さ */
    overflow: auto; /* スクロール可能に */
    background-color: rgb(0,0,0); /* 背景色 */
    background-color: rgba(0,0,0,0.8); /* 黒、透明度 */
    place-items: center; /* 水平および垂直の中央揃え */
    @include xs{
        top: 60px;
        height: calc(100% - 60px);
    }
  }
  
  /* モーダル内の画像 */
  .p-imgModal__content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: calc(100% - 80px);
  }
  
  .swichImgModal{
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
  }
